
.navbar {
  background-color: #343a40;
  color: #FFF;
  margin-bottom: 40px;
}

a, a:hover {
  color: #FFF;
}

.score-area {
  height: 18pt;
  width: 65%;
  min-width: 150px;
  max-width: 350px;
  background-color: #bee5eb;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 9pt;
  overflow: hidden;

  display: none;
}

.score {
  overflow: hidden;
  display: block;
  height: 10pt;
  margin-left: 10px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}


.main-game-area {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 600px;
  background-color: #bee5eb;
  border-radius: 6px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  display: inline-block;
  background-color: #FFF;
  border-radius: 10px;
  height: 110px;
  width: 100%;
  transition: 0.1s;
}

.card:hover {
  background-color: #EEE;
}

.chosen {
  border: 1.5px solid red;
}

svg {
  stroke: #000;
  fill: #000;
}

svg, .svg-wrapper {
  max-width: 80px;
  max-height: 40px;
}

.svg-wrapper3 {
  max-height: 32px;
}

@media only screen and (max-width: 620px){
  .main-game-area {
    width: 350px;
  }

  .card {
    height: 63px;
  }

  svg, .svg-wrapper {
    max-width: 40px;
    max-height: 20px;
  }

  .svg-wrapper3 {
    max-height: 17px;
  }
}

.col {
  padding-left: 5px;
  padding-right: 5px;
}
.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.svg-wrapper {
  position: relative;
  top: 32%;
  margin: auto;
}

.svg-wrapper2 {
  top: 12%;
}

.svg-wrapper3 {
  top: 2%;
}
